[project]
	description = An RRD library for Arduino
[access "refs/*"]
	owner = group user/Davide Alberani (alberanid)
[access "refs/for/refs/*"]
	read = group user/Davide Alberani (alberanid)
	push = group user/Davide Alberani (alberanid)
	label-Code-Review = -2..+2 group user/Davide Alberani (alberanid)
	label-Verified = -1..+1 group user/Davide Alberani (alberanid)
	rebase = group user/Davide Alberani (alberanid)
	removeReviewer = group user/Davide Alberani (alberanid)
	submit = group user/Davide Alberani (alberanid)
[access "refs/heads/*"]
	read = group user/Davide Alberani (alberanid)
	create = group user/Davide Alberani (alberanid)
	push = +force group user/Davide Alberani (alberanid)
	pushMerge = group user/Davide Alberani (alberanid)
[access "refs/tags/*"]
	push = +force group user/Davide Alberani (alberanid)
	pushTag = group user/Davide Alberani (alberanid)
	pushSignedTag = group user/Davide Alberani (alberanid)
